fastapi
uvicorn[standard]
pytest
httpx
sqlalchemy
psycopg2-binary
pgvector
python-dotenv
llama-index-core
llama-index-llms-groq
llama-index-embeddings-huggingface
llama-index-vector-stores-postgres
asyncpg
pypdf
python-multipart